.designer {
    position: relative;
    background-color: #E8DFD0;
}
.designer__navigation {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 450px;
    text-align: center;
}
.designer-nav__cur-param {
    height: 40px;
    line-height: 40px;
    font-size: 26px;
    letter-spacing: 1px;
    font-weight: 900;
    color: #ffffff;
    text-shadow: #000000 0px 0px 2px;
    text-shadow: #000000 1px 1px 0, #000000 -1px -1px 0, 
                 #000000 -1px 1px 0, #000000 1px -1px 0;
    text-align: center;
    margin-top: 36px;
    margin-bottom: 40px;
}
.mg-btn-cross {
    display: inline-block;
    vertical-align: top;
    height: 33px;
    width: 33px;
    margin-top: 5px;
    margin-left: 10px;
    border-radius: 4px;
    background-image: url('/Content/Image/exit.png');
    background-position: center;
    background-repeat: no-repeat;
    background-color: #92A903;
    cursor: pointer;
}
.designer-nav__param-category {
    position: relative;
    margin: 0 0 12px 55px;
    width: 240px;
    height: 86px;
    line-height: 86px;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}
.designer-nav__param-category--active {
     background-color: #92A903;
}
.designer-nav__param-category--active:after {
    position: absolute;
    right: -40px;
    display: inline-block;
    border-bottom: 43px solid transparent;
    border-left: 40px solid #92A903;
    border-top: 43px solid transparent;
    content: '';
    background-color: transparent;
}
.designer-nav__submit {
    width: 240px;
    height: 55px;
    background-color: #92A903;
    color: #ffffff;
    text-shadow: #000000 0px 0px 2px;
    text-shadow: #000000 1px 1px 0, #000000 -1px -1px 0, 
                 #000000 -1px 1px 0, #000000 1px -1px 0;
    text-align: center;
    font-size: 24px;
    border-radius: 8px;
    margin: 50px auto 15px 55px;
    cursor: pointer;
}
.designer__form {
    min-height: 530px;
    width: 100%;
    padding-left: 450px;
    box-sizing: border-box;
   
}
.result-images {
    position: relative;
    width: 900px;
    margin: 0 auto;
}
.form__image {
    position: absolute;
}
.designer-form__param-value {
    display: inline-block;
    margin-left: 4px;
    cursor: pointer;
    opacity: 0.5;
}
.designer-form__param-value--active {
    opacity: 1;
}
.designer-form__param-value--disabled {
    background-color: #AAAAAA;
    cursor: not-allowed;
}
.designer-form__param-img {
    text-align: center;
    max-height: 100%;
    max-width: 100%;
    /*margin-right: 50px;*/
}
.designer-form__param-name {
    text-align: center
}
.designer-form__bridge {
    position: absolute;
    left: 550px;
    top: 197px;
}
.designer__selected-parameters {
    font-size: 16px;
}
.selected-parameters__subparameter {
    font-weight: bold;
}