@model dynamic
           
<div class="promo-block__offer-block">
    Похожие гитары, например
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    ссылки на гитары в волосатом магазине???
</div>