.mp__search {
    width: 600px;
    background-color: white;
}

.mp-search__hint-zone{
    display: inline-block;
    height: 300px;
    width: 200px;
    background-color: #aaaaaa;
    vertical-align: top;
}

.hint-zone__hint {
    border: 1px solid #888888;
    width: 100px;
}

.mp-search__order {
    display: inline-block;
    margin-left: -4px;
    height: 180px;
    width: 250px;
    vertical-align: top;
}

.guitar-param {
    width: 200px;
}

.mp-search__sample-result {
    display: inline-block;
    width: 145px;
    height: 180px;
    margin-left: -4px;
    vertical-align: top;
}

.mp-search__option {
    border-radius: 3px;
    width: 285px;
    height: 20px;
    font-size: 16px;
    margin-top: 5px;
}

.mp-search__option-price {
    width: 82px;
}

.mp-search__caret {
    margin-left: -35px;
    margin-top: 5px;
    height: 24px;
    width: 24px;
    vertical-align: top;
    border-radius: 24px;
    background: url("../../Image/list.png") no-repeat scroll -3px -3px #98514D;
    cursor: pointer;
}

.mp-search__wide-sarch-show {
    width: 438px;
    height: 20px;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    text-align: center;
}