<div id="SelectedParameters" data-bind="visible: $root.parameterModel.isOverviewMode() == true">
    <div class="designer__instrument-info">
        <div class="designer-nav__cur-param">
            Электрогитара
        </div>
        <!-- ko if: $root.parameterModel.isFormSelected()-->
        <div class="designer__selected-parameters" data-bind="foreach: Object.keys($root.parameterModel.globalParameters)">
            <!-- ko if: $root.parameterModel.globalparameterHasAnyValue($data) -->
            <div class="selected-parameters__parameter-block" data-bind="with: $root.parameterModel.globalParameters[$data]">
                <div class="selected-parameters__global-parameter">
                    <span data-bind="text: nameNominative + ':'"></span>
                </div>
                <div class="selected-parameters__subparameters" data-bind="foreach: $root.parameterModel.GetSubparametersOfGlobal($data.id)">
                    <div class="selected-parameters__selected-subparameter">
                        <span class="selected-parameters__selected-values" data-bind="text: $root.parameterModel.getSelectedValueName($data.id)"></span>
                        <div class="selected-parameters__drop-parameter" data-bind="click: $root.parameterModel.changeSelectedParameter"></div>
                    </div>
                </div>
            </div>
            <!-- /ko -->
        </div>
        <!-- /ko -->
    </div>
</div>
