<div id="ChooseInstrument" class="designer__navigation" data-bind="visible: $root.parameterModel.isOverviewMode() == true">
    <div class="designer-nav__cur-param">
        Электрогитара
    </div>
    <input type="button" class="designer-nav__submit" style="margin: auto;" value="Другой инструмент" />
</div>
