<div id="ChooseInstrument" class="designer__navigation" data-bind="visible: subparameterNavigationModel.isOverviewMode() == true">
    <div class="designer-nav__cur-param">
        Эелектрогитара
    </div>
    <input type="button" class="designer-nav__submit" value="Выбрать другой инструмент" />
</div>
