<div id="SubparameterNavigation" class="designer__navigation" data-bind="visible: $root.parameterModel.isOverviewMode() == false">
    <div class="designer-nav__cur-param">
        Выбор <span data-bind="text: $root.parameterModel.currentEditingParameter().NameGenitive"></span>
        <div class="mg-btn-cross" data-bind="click: $root.parameterModel.goToOverview"></div>
    </div>
    <div data-bind="foreach: $root.parameterModel.currentAvailableSubparameters()">
        <div class="designer-nav__param-category" data-bind="text: NameNominative,
            attr: { class: NameNominative == $root.parameterModel.currentEditingSubparameter().NameNominative
                ? 'designer-nav__param-category designer-nav__param-category--active'
                : 'designer-nav__param-category' },
            click: $root.parameterModel.editSubarameter">
        </div>
    </div>
</div>