@model MusicShareWeb.Models.BaseModel

@{
    Layout = "../Shared/Layout.cshtml";
}


<div style="margin: 0 auto; font-size: 30px;">
    Тут когда-нибудь, возможно, будет много-много статей
    @Html.Partial("ArticlePreview")
</div>