@model MusicShareWeb.Models.BaseModel

@{
    Layout = "../Shared/Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function() {
        $("#MarkItUp").markItUp(mySettings);
    });
    var showPreview = function() {
        var converter = new Showdown.converter();
        var html = converter.makeHtml($("#MarkItUp").val());
        $('#Preview').html(html);
        $('#Previewhtml').text(html);
    }
    var onArticleSave = function(form) {
        $('<input />').attr('type', 'hidden')
            .attr('name', "articleModel.Text")
            .attr('value', new Showdown.converter().makeHtml($("#MarkItUp").val()))
            .appendTo($(form));
        $(form).submit(function() {
            return true;
        });
    };
</script>

<style type="text/css">
    .markItUp {
        margin-top: 0;
    }
</style>

@using (Html.BeginForm("New", "Article", FormMethod.Post, new { onsubmit = "return onArticleSave(this);" })) {
    <input name="articleModel.Title" type="text" />
    <textarea id="MarkItUp"></textarea>
    <input type="button" value="Предпросмотр" onclick=" showPreview(); "/>
    <div id="Previewhtml"></div>
    <hr>
    <div id="Preview"></div>
    <input type="submit" value="Сохранить"/>
}