@model MusicShareWeb.Models.DesignerModel

@{
    Layout = "../Shared/Layout.cshtml";
}
<div class="designer">
    @Html.Partial("Navigation/ChooseInstrument")
@*    <div id="" class="designer__navigation">*@
@*        <div class="designer-nav__cur-param">*@
@*            Настройка <span class="designer-nav__cur-param-name">формы</span>*@
@*            <div class="designer-nav__drop-param"></div>*@
@*        </div>*@
@*        <div class="designer-nav__param-category">Цвет</div>*@
@*        <div class="designer-nav__param-category designer-nav__param-category--active">Форма</div>*@
@*        <div class="designer-nav__param-category">Материал</div>*@
@*        <input type="button" class="designer-nav__submit" value="Сохранить" />*@
@*    </div>*@
    <div class="designer__form">
        <div class="designer-form__param-value">
            <img class="designer-form__param-img" src="/Content/Image/form.png"/>
            <div class="designer-form__param-name">Les Paul</div>
        </div>
        <div class="designer-form__param-value">
            <img class="designer-form__param-img" src="/Content/Image/form.png"/>
            <div class="designer-form__param-name">Les Paul</div>
        </div>
        <div class="designer-form__param-value">
            <img class="designer-form__param-img" src="/Content/Image/form.png"/>
            <div class="designer-form__param-name">Les Paul</div>
        </div>
        <div class="designer-form__param-value">
            <img class="designer-form__param-img" src="/Content/Image/form.png"/>
            <div class="designer-form__param-name">Les Paul</div>
        </div>
        <div class="designer-form__param-value">
            <img class="designer-form__param-img" src="/Content/Image/form.png"/>
            <div class="designer-form__param-name">Les Paul</div>
        </div>
    </div>
</div>