<div id="Navigation">
    <div id="GlobalParameters" class="navigation__global-parameters" data-bind="visible: $root.parameterModel.selectingGlobalParameter() == true">
        <div class="navigation__global-parameters-inner" data-bind="foreach: Object.keys($root.parameterModel.globalParameters)">
            <div class="global-parameters__parameter" data-bind="text: $root.parameterModel.globalParameters[$data].nameNominative, click: $root.parameterModel.selectGlobalParameter"></div>
        </div>
    </div>
    <div id="Subparameters" class="navigation__details" data-bind="visible: $root.parameterModel.selectedGlobalParameter()">
        <div class="details__selected-parameters">
            <div class="selected-parameters__global" data-bind="
                text: $root.parameterModel.selectedGlobalParameter() ? $root.parameterModel.selectedGlobalParameter().nameNominative : '',
                click: $root.parameterModel.dropSelectedGlobalParameter"></div>
            <div class="selected-parameters__subparameter" data-bind="
                visible: $root.parameterModel.selectedSubparameter(),
                text: $root.parameterModel.currentEditingSubparameter() ? $root.parameterModel.currentEditingSubparameter().nameNominative : '',
                click: $root.parameterModel.dropSelectedSubparameter"></div>
        </div>
        <div class="details__subparameters" data-bind="visible: !$root.parameterModel.selectedSubparameter(), foreach: $root.parameterModel.currentAvailableSubparameters()">
            <div class="subparameters__subparameter-name" data-bind="text: $data.nameNominative, click: $root.parameterModel.selectSubparameter"></div>
        </div>
        <div class="details__value-list" data-bind="if: $root.parameterModel.selectedSubparameter()">
            <div id="NavigationArrowTop" class="navigation__arrow navigation__arrow-top">Вверх</div>
            <div class="details__values" data-bind="foreach: $root.parameterModel.selectedSubparameter().parameterValues">
                <!-- ko if: $root.parameterModel.isIncopatibleSubparameterValue($data)-->
                <div data-bind="attr: { class: $root.parameterModel.selectedSubparameter().id != musGround.const.formSubparameterId
                    ? 'values__value values__value--incompatible'
                    : 'values__value' },
                    click: $root.parameterModel.selectedSubparameter().id == musGround.const.formSubparameterId ? $root.parameterModel.warningIncompatibleWithForm : ''">
                    <img class="values__value-img" data-bind="attr: { src: imagePreviewUrl }" />
                    <div class="values__value-name" data-bind="text: name"></div>
                </div>
                <!-- /ko-->
                <!-- ko ifnot: $root.parameterModel.isIncopatibleSubparameterValue($data) -->
                <div data-bind="
                    click: $root.parameterModel.setSubparameterValue,
                    event: {
                        mouseover: $root.parameterModel.setPreviewValue,
                        mouseout: $root.parameterModel.restoreActiveValue
                    },
                    attr: { class: $root.parameterModel.isActiveSubparameterValue($data)
                        ? 'values__value values__value--active'
                        : 'values__value' }">
                    <img class="values__value-img" data-bind="attr: { src: imagePreviewUrl }" />
                    <div class="values__value-name" data-bind="text: name"></div>
                </div>
                <!-- /ko-->
            </div>
            <div id="NavigationArrowBottom" class="navigation__arrow navigation__arrow-bottom">Вниззззз</div>
        </div>
    </div>
</div>