<div id="Overview" class="overview">
    <div style="position: relative; width: 1000px; height: 300px; margin: 0 auto;">
        <!-- ko if: $root.parameterModel.isFormSelected() -->
        <div data-bind="foreach: Object.keys($root.parameterModel.globalParameters)">
            <!-- ko with: $root.parameterModel.resultImageBundles[$data]() -->
            <img class="form__image" data-bind="visible: url, attr: { src: url }, style: { top: y + 'px', left: x + 'px' }" />
            <!-- /ko -->
        </div>
        <!-- /ko -->
    </div>
</div>