@mg-green--ordinal: #92a803;
@mg-green--hover: #afc047;
@mg-brown-layout: #191511;
@mg-brown--ordinal: #30281f;
@mg-brown--hover: #453e36;
@mg-beige--ordinal: #e8dfd0;
@mg-grey--ordinal: #c0b8ad;
@mg-grey--hover: #d0cbc2;
@mg-text-white: #e6e6e6;

@mg-min-width: 1120px;
@mg-header-height: 150px;