@mg-green--ordinal: #719900;
@mg-green--hover: #9abf34;
@mg-green--active: #587700;
@mg-brown-layout: #1a1511;
@mg-brown--ordinal: #2b251d;
@mg-brown--list-even: #352e24;
@mg-brown--list-odd: #3f362b;
@mg-brown--addition: #493f32;
@mg-brown--hover: #544838;
@mg-beige--ordinal: #e8dfd0;
@mg-grey--ordinal: #c0b8ad;
@mg-grey--hover: #d0cbc2;
@mg-text-white: #f2f2f2;
@mg-white: #ffffff;
@mg-black: #000000;

@mg-min-width: 1100px;
@mg-header-height: 100px;
@mg-footer-height: 50px;

@mg-font-size--ordinal: 16px;
@mg-font-family--ordinal: arial, verdana, sans-serif, Lucida Sans;
@mg-font-family--additional: "OpenSans-Light";
@mg-font-family--font-awesome: "FontAwesome";

@mg-btn-width--ordinal: 220px;
@mg-btn__box-shadow: "2px 3px 4px rgba(0,0,0,0.5)";
@mg-btn__box-shadow--active: "2px 3px 4px #000000";
@mg-drop-down__box-shadow: "2px 3px 4px #000000";
@mg-btn__text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
@mg-element-height--ordinal: 40px;
@mg-border-radius--ordinal: 2px;


@mg-input-text-border-color: #808080;
@mg-input-text__border-width: 1px;
@mg-input-text__width: 400px;
@mg-input-text__padding-left-right: 8px;