@import "Const.less";
@import "Mixin.less";

@font-face {
    font-family: "OpenSans-Light";
    src: url(/Content/Font/OpenSans-Light.ttf) format("truetype");
}
input {
    border: 1px solid #CCCCCC;
    padding: 1px;
}
html {
    min-width: @mg-min-width;
}
body {
    margin: 0;
    background: @mg-brown-layout;
    font-family: verdana, sans-serif, Lucida Sans;
    min-width: inherit;
}
.content {
    background-color: @mg-brown--ordinal;
    width: 1100px;
    margin: 0 auto;
    color: @mg-white;
}

.mg-btn {
    font-family: @mg-font-family--ordinal;
    color: @mg-white;
    background-color: @mg-green--ordinal;
    border-color: @mg-green--ordinal;
    font-size: @mg-font-size--ordinal;
    height: auto;
    font-weight: normal;
    padding: @mg-btn-padding;
    border-radius: @mg-btn-border-radius;
    outline: none;
    .box-shadow("inset 0 1px 1px rgba(0,0,0,.075)");
    .transition("border-color ease-in-out .15s, box-shadow ease-in-out .15s");
}
.mg-btn:hover {
    color: @mg-white;
    background-color: @mg-green--hover;
    border-color: @mg-green--hover;
    outline: none;
    .box-shadow("inset 0 1px 1px rgba(0,0,0,.075)");
}
.mg-btn:active,
.mg-btn:focus,
.mg-btn:focus:active {
    color: @mg-white;
    background-color: @mg-green--active;
    border-color: @mg-green--active;
    outline: none;
    .box-shadow("inset 0 1px 1px rgba(0,0,0,.075)");
}

p a:not(.btn),
.mg-link {
    text-decoration: none;
    color: @mg-green--ordinal;
    .transition("all 0.1s linear");
}
p a:not(.btn):hover,
.mg-link:hover {
    outline: none;
    text-decoration: underline;
    color: @mg-green--hover;
}
p a:not(.btn):active,
.mg-link:active,
p a:not(.btn):focus,
.mg-link:focus,
p a:not(.btn):focus:active,
.mg-link:focus:active {
    outline: none;
    text-decoration: underline;
    color: @mg-green--active;
}