@import "Mixin.less";
@import "Const.less";

@header-resize-width: ~"(max-width: 1330px)";

/* header */
header, #header {
    width: 100%;
    height: @mg-header-height;
    background-color: @mg-brown--ordinal;
    border-bottom: 5px solid @mg-green--ordinal;
    min-width: inherit;
}
.header {
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.header__logo {
    padding: 15px 0 15px 33px;
    height: 100%;
    width: 256px;
    .box-sizing__border-box;
    display: inline-block;
}
.header__logo-img {
    height: 100%;
}
.header-navigation {
    .box-sizing__border-box;
    padding-left: 50px;
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    margin-left: -4px;
    vertical-align: bottom;
    @media @header-resize-width {
        padding-left: 20px;
    }
}
.header-navigation__btn {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    margin-right: 90px;
    &:hover {
        text-decoration: none;
        color: #ffffff;
    }
    @media @header-resize-width {
        margin-right: 40px;
    }
}
.header-navigation__btn--active {
    color: @mg-green--ordinal;
    &:hover {
        color: @mg-green--ordinal;
    }
}
.header__contacts {
    float: right;
    padding-top: 15px;
    height: 100%;
    .box-sizing__border-box;
    padding-right: 33px;
}

.header__login {
    color: @mg-green--ordinal;
    text-decoration: underline;
    font-size: 16px;
    cursor: pointer;
    float: right;
}
.header__social {
    height: 50px;
    .box-sizing__border-box;
    padding: 12px 0;
    list-style-type: none;
    margin: 80px 0 0 0;
}
.header__social-item {
    height: 26px;
    width: 26px;
    line-height: 26px;
    border: 1px solid @mg-green--ordinal;
    .box-sizing__border-box;
    color: @mg-green--ordinal;
    text-align: center;
    font-weight: bold;
    float: right;
    margin-left: 25px;
    cursor: pointer;
}