@model dynamic
           
@{
    Layout = "../Shared/Layout.cshtml";
}

<div class="guitar-list">
    <div class="guitar-list__guitar-node">
        <img class="guitar-node__image" alt="noImg"/>
        <div class="guitar-node__brand">fghj</div>
        <div class="guitar-node__model-name">jhf</div>
        <div class="guitar-node__form">fghj</div>
        <div class="guitar-node__color-full">jhf</div>
        <div class="guitar-node__available">fgjh</div>
    </div> 
    <div class="guitar-list__guitar-node">
        <img class="guitar-node__image" alt="noImg"/>
        <div class="guitar-node__brand">fghj</div>
        <div class="guitar-node__model-name">jhf</div>
        <div class="guitar-node__form">fghj</div>
        <div class="guitar-node__color-full">jhf</div>
        <div class="guitar-node__available">fgjh</div>
    </div>
</div>