@model MusicShareWeb.Models.BaseModel

@{
    Layout = "../Shared/Layout.cshtml";
}

<div style="color: black;">
    <a href="@Url.Action("Guitars", "DerzkieSchi")" style="color: black;">Подпортить базу цветных гитар</a><br />
    <a href="@Url.Action("Models", "DerzkieSchi")" style="color: black;">Подпортить базу моделей</a><br />
    <a href="@Url.Action("Colors", "DerzkieSchi")" style="color: black;">Подпортить базу цветов</a><br />
</div>