@using Newtonsoft.Json
@using Newtonsoft.Json.Serialization
@model MusicShareWeb.Models.BaseModel

@{
    Layout = "../Shared/Layout.cshtml";
}

<div id="NotEnoughDerzkiy">
    <span style="font-size: 38px;">Ты недостаточно дерзок для того, чтобы просматривать эту страницу.</span>
    <br>
    <img style="width: 738px;" src="http://multivarenie.ru/images/multivarenie/2015/01/268.jpg" />
</div>