@model MusicShareWeb.Models.Store.CategoriesModel

@{
    Layout = "../Shared/Layout.cshtml";
}
<div style="margin: 0 auto; font-size: 30px; color: white;">
    <div style="border: 1px black solid;">
        @Model.Id : @Model.Categories.First(c => c.Id == Model.Id).Name
    </div>
    <br />
    @foreach (var category in Model.Categories.Where(c => c.ParentId == Model.Id)) {
        <div style="border: 1px black solid;">
            @category.Id : @category.Name
        </div>
    }
</div>