@import "../Const.less";
@import "../Mixin.less";

.lesson-index {
    padding: 40px 0 40px;
}
.lesson-index__lesson-navigation {
    width: 700px;
    float: left;
    .box-sizing__border-box;
    padding: 40px 40px 0 40px;
    overflow: visible;
}
.lesson-index__title {
    font-family: @mg-font-family--additional;
    font-size: 25px;
}
.lesson-navigation__lesson-list {
    margin-top: 30px;
}
.lesson-list__guitar-technique {
    .box-sizing__border-box;
    width: 100%;
}
.guitar-technique__name {
    font-size: 18px;
    height: 40px;
    width: 400px;
    line-height: 40px;
    cursor: pointer;
    padding-left: 40px;
}
.lesson-list__guitar-technique:nth-of-type(2n) .guitar-technique__name {
    background-color: #352d23;
}
.lesson-list__guitar-technique:nth-of-type(2n+1) .guitar-technique__name {
    background-color: #332b21;
}
.lesson-list__guitar-technique--active .guitar-technique__name {
    color: @mg-green--ordinal !important;
}
.lesson-list__guitar-technique .guitar-technique__name:hover {
    color: @mg-green--ordinal !important;
}

.guitar-technique__binded-lessons {
    display: none;
    width: 550px;
    padding: 20px 20px 20px 60px;
    position: relative;
    background-color: @mg-brown--addition;
}
.lesson-list__guitar-technique--active .guitar-technique__binded-lessons {
    display: block;
}
.binded-lessons__lesson {
    font-size: 16px;
    line-height: 40px;
}
.binded-lessons__lesson-description {
    display: none;
    position: absolute;
    background-color: @mg-brown--addition;
    width: 400px;
    right: -410px;
    top: 0;
    .box-sizing__border-box;
    padding: 20px;
}
.binded-lessons__lesson:hover + .binded-lessons__lesson-description {
    display: block;
}
.lesson-description__title {
    font-family: @mg-font-family--additional;
    font-size: 20px;
}
.lesson-description__description {
    margin-top: 20px;
    font-size: 16px;
}
.triangle-left {
    position: absolute;
    top: 20px;
    border-top: 20px solid transparent;
    border-right: 20px solid @mg-brown--addition;
    border-bottom: 20px solid transparent;
    left: -20px;
}
.lesson-zone__right-container {
    float: left;
    width: 400px;
    vertical-align: top;
    .box-sizing__border-box;
    padding: 0 40px;
    text-align: right;
}
.lesson-container:before,
.lesson-container:after {
    .clearfix;
}
.right-container__content {
    text-align: left;
}
.right-container__content--float {
    top: 0;
    padding-right: 40px;
    float: right;
    position: fixed;
}
.lesson-index__lesson-outer-navigation {
    
}
.lesson-outer-navigation__block {
    margin-top: 40px;
}
.lesson-outer-navigation__caret {
    float: right;
}
.plans__plan-link {
    display: inline-block;
    height: inherit;
    white-space: nowrap;
    overflow: hidden;
    .text-overflow(ellipsis);
    width: 100%;
}