@import "../Const.less";
@import "../Mixin.less";

@main-content__width: 700px;

.selfteacher__container:before,
.selfteacher__container:after {
    .clearfix;
}
.selfteacher__top {
    .clearfix;
    height: 100px;
}
.selfteacher__container_top_title {
    float: left;
}
.selfteacher__container_top_navigation {
    float: right;
}
.selfteacher__container_top_navigation_btn {
    display: inline-block;
    vertical-align: top;
}
.selfteacher__content-main {
    width: @main-content__width;
    float: left;
    .box-sizing__border-box;
    padding: 40px 40px 0 40px;
    overflow: visible;
}


.lesson-index {
    padding: 40px 0 40px;
}
.lesson-index__lesson-navigation {
    width: 700px;
    float: left;
    .box-sizing__border-box;
    padding: 0 40px 0 40px;
    overflow: visible;
}
.lesson-index__title {
    font-family: @mg-font-family--additional;
    font-size: 25px;
}
.lesson-navigation__lesson-list {
    
}
.lesson-list__guitar-technique {
    .box-sizing__border-box;
    width: 100%;
}
.guitar-technique__name {
    font-size: 18px;
    height: 40px;
    width: 400px;
    line-height: 40px;
    cursor: pointer;
    padding-left: 40px;
}
.lesson-list__guitar-technique:nth-of-type(2n) .guitar-technique__name {
    background-color: @mg-brown--list-even;
}
.lesson-list__guitar-technique:nth-of-type(2n+1) .guitar-technique__name {
    background-color: @mg-brown--list-odd;
}
.lesson-list__guitar-technique--active .guitar-technique__name,
.lesson-list__guitar-technique .guitar-technique__name:hover {
    background-color: @mg-green--ordinal !important;
}

.guitar-technique__binded-lessons {
    display: none;
    width: 550px;
    padding: 20px 0;
    position: relative;
    background-color: @mg-brown--addition;
}
.lesson-list__guitar-technique--active .guitar-technique__binded-lessons {
    display: block;
}
.binded-lessons__lesson {
    display: block;
    font-size: 16px;
    line-height: 40px;
    padding: 0 20px 0 60px;
    text-decoration: none;
    color:@mg-text-white;
    &:hover, &:active {
        color: @mg-text-white;
        text-decoration: none;
    }
}
.binded-lessons__lesson:hover {
    background-color: @mg-brown--hover;
    .box-shadow("1px 1px 1px 0 rgba(0,0,0,.4)");
}
.binded-lessons__lesson-description {
    display: none;
    position: absolute;
    background-color: @mg-brown--addition;
    width: 400px;
    right: -410px;
    top: 0;
    .box-sizing__border-box;
    padding: 20px;
    .box-shadow("1.5px 2.598px 5px 0px rgba(0, 0, 0, 0.4)");
}
.binded-lessons__lesson:hover + .binded-lessons__lesson-description {
    display: block;
}
.lesson-description__title {
    font-family: @mg-font-family--additional;
    font-size: 20px;
}
.lesson-description__description {
    margin-top: 20px;
    font-size: 16px;
}
.triangle-left {
    position: absolute;
    top: 20px;
    left: -22px;
    background: url('/Content/Image/Lesson/TriangleBig.png') no-repeat;
    height: 45px;
    width: 22px;
}
.lesson-zone__right-container {
    float: left;
    width: 400px;
    vertical-align: top;
    .box-sizing__border-box;
    padding: 0 40px;
    text-align: right;
}
.lesson-container:before,
.lesson-container:after {
    .clearfix;
}
.right-container__content {
    text-align: left;
}
.right-container__content--float {
    top: 40px;
    padding-right: 40px;
    float: right;
    position: fixed;
}
.lesson-index__lesson-outer-navigation {
    
}
.lesson-outer-navigation__block {
    margin-top: 40px;
}
.lesson-outer-navigation__caret {
    float: right;
}
.plans__plan-link {
    display: inline-block;
    height: inherit;
    white-space: nowrap;
    overflow: hidden;
    .text-overflow(ellipsis);
    width: 100%;
}