@import "../Const.less";
@import "../Mixin.less";

.lesson-layout {
    background: #191511;
    width: 100%;
}
.lesson-page {
    color: @mg-text-white;
    background: @mg-brown--ordinal;
    margin: 0 auto;
    width: 1100px;
}
.lesson-index__lesson-navigation {
    width: 680px;
    padding: 30px 40px 0;
    .box-sizing__border-box;
    display: inline-block;
    font-size: 16px;
    overflow: hidden;
}
.lesson-index__lesson-navigation:after {
    .clearfix;
}
.lesson-index__lesson-navigation p {
    text-align: left;
    line-height: 1.5;
}
.lesson-additions {
    width: 420px;
    display: inline-block;
    .box-sizing__border-box;
    margin-left: -6px;
    vertical-align: top;
}
.lesson-hierarchy {
    font-size: 12px;
}
.lesson-hierarchy__link,
.lesson-hierarchy__link:visited {
    color: @mg-text-white;
    text-decoration: none;
}
.lesson-hierarchy__link:hover,
.lesson-hierarchy__link:focus {
    color: @mg-green--hover;
    text-decoration: none;
}
.lesson__order-number {
    font-size: 20px;
    font-family: "OpenSans-Light";
    margin-top: 50px;
}
.lesson__name{
    margin-top: 20px;
    font-size: 25px;
    font-family: "OpenSans-Light";
}
.lesson__body{
   margin-top: 20px;
}

.metronome {
    height: 35px;
    margin-bottom: 20px;
    float: right;
}
.metronome__icon {
    width: 35px;
    height: 35px;
    float: left;
    background: url('/Content/Image/Lesson/Metronome.png') center no-repeat;
    background-color: @mg-brown-layout;
}
.metronome__speed-control {
    vertical-align: top;
    height: 100%;
    width: 35px;
    display: inline-block;
    background-color: #fff;
    color: black;
    float: left;
}
.speed-control__up,
.speed-control__down {
    text-align: center;
    line-height: 35px;
    cursor: pointer;
    .box-sizing__border-box;
}
.speed-control__up:hover,
.speed-control__down:hover {
    background-color: #eee;
}
.metronome-speed {
    float: left;
    vertical-align: top;
    width: 50px;
    height: 100%;
    display: inline-block;
    font-size: 20px;
    background-color: white;
    color: rgb(26, 21, 17);
    text-align: center;
    line-height: 35px;
    border: none;
}
.metronome-start-stop {
    float: left;
    vertical-align: top;
    width: 35px;
    height: 100%;
    line-height: 35px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    background-color: @mg-green--ordinal;
    color: white;
}
.exercise {
    position: relative;
    min-height: 38px;
}
.exercise__title {
    margin-top: 35px;
    height: 40px;
    font-size: 20px;
    font-family: 'OpenSans-Light';
}
.exercise__title:first-of-type {
    margin-top: 0;
}
.exercise__add-to-plan-block {
    position: absolute;
    top: -50px;
    padding-top: 50px;
    right: 0;
}
.exercise__add-to-plan {
    background-color: @mg-brown-layout;
    border-bottom: 1px solid grey;
    width: 200px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}
.exercise__add-to-plan:last-of-type {
    border-bottom: none;
}
.exercise-toggle {
    width: 100%;
    position: absolute; 
}
.exercise-toggle__icon {
    text-align: center;
    cursor: pointer;
    background-color: @mg-green--ordinal;
    left: -20px;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    line-height: 20px;
    font-size: 20px;
    position: absolute;
}
.exercise-toggle__name {
    margin-left: 20px;
}
.save-exercises-speed {
    position: absolute;
    top: 200px;
    left: 1200px;
}