@import "../Const.less";
@import "../Mixin.less";

.plan {
    background-color: @mg-brown--ordinal;
    width: 1100px;
    margin: 0 auto;
    color: @mg-text-white;
}
.plan__toggle,
.plan__add-exercise {
    text-align: center;
    cursor: pointer;
    background-color: #92a803;
    height: 16px;
    width: 16px;
    .border-radius(8px);
    line-height: 16px;
    font-size: 16px;
    display: inline-block;
}
.plan__add-exercise {
    position: absolute;
    left: 600px;
}
.plan__all-exercises {
    display: inline-block;
    .box-sizing__border-box;
    width: 680px;
    padding: 0 40px 20px 40px;
    .border-radius(5px);
}
.all-exercises__guitar-technique {

}
.guitar-technique__lesson {
    margin-left: 15px;
}
.lesson__exercise {
    margin-left: 25px;
}
.plan__selected-exercises {
    padding: 20px;
    vertical-align: top;
    display: inline-block;
    margin-left: -4px;
    .box-sizing__border-box;
    width: 400px;
    .border-radius(5px);
}
.plan-exercise {
    cursor: pointer;
    margin-top: 20px;
}
.plan-exercise:active {
    cursor: move;
}
.plan__remove-exercise {
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: 0;
    left: 0;
    background-color: @mg-green--ordinal;
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    font-size: 18px;
}
.plan__exercise-image-block {
    position: relative;
}
.plan__exercise-name {
    margin-bottom: 12px;
    font-size: 16px;
}
.plan__save-plan-block {
    margin-top: 20px;
}