@import "../Const.less";
@import "../Mixin.less";

.promo-content {
    width: 100%;
    minwidth: 1000px;
    text-align: center;
    color: @mg-white;
}
.promo-block {
    width: 100%;
}
.promo__head {
    height: 600px;
    background: url('/Content/Image/Lesson/PromoBackgroundImage.jpg');
}
.promo-header {
    width: 100%;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.15);
}
.promo-header-block {
    float: left;
    height: 100%;
    line-height: 100px;
    font-family: @mg-font-family--additional;
    font-size: 20px;
}
.promo-header__logo {
    width: 250px;
    height: 100px;
    padding-left: 30px;
    background: url('/Content/Image/Lesson/Logo.png') center no-repeat;
}
.promo-header__selflearner {
    padding-left: 65px;
    display: block;
    color: @mg-text-white;
    text-decoration: none;
}
.promo-header__selflearner:hover,
.promo-header__selflearner:active,
.promo-header__selflearner:focus,
.promo-header__selflearner:active:focus,
.promo-header__selflearner:focus:active {
    color: @mg-green--hover;
    text-decoration: none;
}
.promo-header__help-us {
    float: right;
    height: 50px;
    margin-top: 25px;
    margin-right: 30px;
}
.header-help-us__block {
    float: left;
}
.header-help-us__block-text {
    line-height: 26px;
    font-size: 18px;
}
.header-help-us__block-boom {
    margin-left: 30px;
    width: 235px;
    height: 50px;
    .border-radius(@mg-border-radius--ordinal);
    background: url('/Content/Image/Lesson/BoomText.png') center no-repeat #00aeef;
    .box-shadow(@mg-btn__box-shadow);
    display: block;
}
.header-help-us__block-boom:hover {
    .box-shadow(@mg-btn__box-shadow--active);
}
.header-help-us__block-boom:active {
    .box-shadow("none");
}
.promo-head__text {
    margin-top: 150px;
    font-size: 40px;
}
.promo__learn-is {
    background-color: @mg-brown--ordinal;
}
.promo__learn-is_header-text {
    font-size: 30px;
    padding-top: 50px;
}
.promo__learn-is_icons {
    margin: 75px auto 0;
}
.promo__learn-is_icon {
    height: 210px;
    line-height: 380px;
    font-size: 20px;
    width: 120px;
    float: left;
    margin-left: 200px;
}
.promo__learn-is_icon-weight {
    background: url('/Content/Image/Lesson/Weight.png') center 0 no-repeat;
}
.promo__learn-is_icon-long {
    background: url('/Content/Image/Lesson/Weight.png') center 0 no-repeat;
}
.promo__learn-is_icon-difficult {
    background: url('/Content/Image/Lesson/Difficult.png') center 0 no-repeat;
}
.promo__learn-is_icon:first-of-type {
    margin-left: 0;
}
.promo__learn-is_exactly-hard {
    margin-top: 75px;
    padding-bottom: 60px;
    font-size: 20px;
}
.promo__we-want-help {
    height: 100px;
    line-height: 100px;
    font-size: 30px;
    background: url('/Content/Image/Layout.png') repeat @mg-brown--list-even;
}
.promo__what-help {
    background-color: @mg-brown--layout;
}
.promo__what-help-content {
    position: relative;
    min-width: 1000px;
    max-width: 1400px;
    margin: 0 auto;
}
.promo__what-help_header {
    padding-top: 75px;
    font-size: 30px;
    font-family: @mg-font-family--additional;
}
.promo__what-help_block {
    padding-top: 80px;
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
    width: 100%;
}
.promo__what-help_block_left {
    float: left;
    width: 50%;
    text-align: left;
    padding: 75px 20px 0 30px;
    .box-sizing__border-box;
    height: 570px;
    border-bottom: 2px solid @mg-brown--ordinal;
}
.promo__what-help_block_header {
    font-size: 25px;
}
.promo__what-help_block_header-second {
    margin-top: 38px;
}
.promo__what-help_block_text-block {
    font-size: 16px;
    margin-top: 24px;
}
.promo__what-help_block_right {
    float: right;
    height: 500px;
    width: 50%;
    padding-right: 30px;
}
.promo__what-help_float-image {
    background: url('/Content/Image/Lesson/Monitor.png') no-repeat;
    position: absolute;
    height: 500px;
    width: 584px;
    right: 30px;
}
.promo__what-help_block:last-of-type .promo__what-help_block_left {
    border-bottom: none;
}
.promo__its-free {
    height: 180px;
    line-height: 180px;
    font-size: 30px;
    background: url('/Content/Image/Layout.png') repeat @mg-brown--list-even;
}
.promo__its-free_img {
    display: inline;
    margin-left: 180px;
}
.promo__middle-image {
    height: 300px;
    background: url('/Content/Image/Lesson/PromoMiddleImage.png') center 70%;
}
.promo__who-works {
    height: 630px;
    background-color: @mg-brown--layout;
}
.promo__who-works_header {
    font-size: 30px;
    font-family: @mg-font-family--additional;
    text-align: center;
    padding-top: 75px;
}
.promo__who-works_peoples {
    min-width: 1000px;
    max-width: 1400px;
    margin: 75px auto 0;
}
.promo__who-works_people {
    float: left;
    width: 25%;
}
.promo__who-works_people_photo {
    width: 150px;
    height: 150px;
    .border-radius(150px);
    background-color: #123456;
    margin: 0 auto;
}
.promo__who-works_people_photo-k {
    background: url('/Content/Image/Lesson/K.png') no-repeat center;
}
.promo__who-works_people_photo-e {
    background: url('/Content/Image/Lesson/E.png') no-repeat center;
}
.promo__who-works_people_photo-o {
    background: url('/Content/Image/Lesson/O.png') no-repeat center;
}
.promo__who-works_people_photo-p {
    background: url('/Content/Image/Lesson/P.png') no-repeat center;
}
.promo__who-works_people_name {
    font-size: 20px;
    text-align: center;
    margin: 20px auto 0;
}
.promo__who-works_people_text {
    width: 80%;
    font-size: 14px;
    text-align: center;
    margin: 20px auto 0;
}
.promo__ideas {
    background-color: @mg-brown--ordinal;
    padding-bottom: 60px;
}
.promo__ideas_header {
    padding-top: 45px;
    font-size: 30px;
    font-family: @mg-font-family--additional;
    text-align: center;
}
.promo__ideas_list {
    min-width: 000px;
    max-width: 1400px;
    margin: 60px auto 0;
}
.promo__ideas_element {
    float: left;
    width: 25%;
}
.promo__ideas_element_image {
    height: 110px;
    width: 130px;
    background-color: #123456;
    margin: 0 auto;
}
.promo__ideas_element_image-robo {
    background: url('/Content/Image/Lesson/Robo.png') no-repeat center;
}
.promo__ideas_element_image-add-exercise {
    background: url('/Content/Image/Lesson/AddExercise.png') no-repeat center;
}
.promo__ideas_element_image-video {
    background: url('/Content/Image/Lesson/Video.png') no-repeat center;
}
.promo__ideas_element_image-mobile {
    background: url('/Content/Image/Lesson/Mobile.png') no-repeat center;
}
.promo__ideas_element_title {
    font-size: 20px;
    text-align: center;
    margin: 30px auto;
    font-family: @mg-font-family--additional;
}
.promo__ideas_element-description {
    width: 80%;
    font-size: 14px;
    text-align: center;
    margin: 12px auto;
}
.promo__ideas_others {
    margin-top: 85px;
    text-align: center;
    font-size: 25px;
    font-family: @mg-font-family--additional;
}
.promo__help-us {
    background: url('/Content/Image/Layout.png') repeat @mg-brown--layout;
}
.promo__help-us_cant-without-you {
    font-size: 18px;
    padding-top: 85px;
    line-height: 38px;
    text-align: center;
}
.promo__help-us_help-us {
    font-family: @mg-font-family--additional;
    margin-top: 125px;
    font-size: 30px;
    text-align: center;
}
.promo__help-us_button {
    margin: 60px auto 0;
    width: 290px;
    height: 60px;
    .border-radius(@mg-border-radius--ordinal);
    background: url('/Content/Image/Lesson/BoomText.png') center no-repeat #00aeef;
    display: block;
   .box-shadow(@mg-btn__box-shadow);
}
.promo__help-us_lets-do-it {
    margin-top: 75px;
    text-align: center;
    font-size: 25px;
    padding-bottom: 125px;
}
.promo__footer {
    height: 125px;
    line-height: 125px;
    border-top: 2px solid @mg-brown--ordinal;
    font-size: 16px;
}
.promo__footer_logo {
    float: left;
    margin-left: 30px;
    font-size: 35px;
    font-family: @mg-font-family--additional;
}
.promo__footer_selflearner {
    float: left;
    margin-left: 70px;
    color: @mg-text-white;
    text-decoration: none;
}
.promo__footer_selflearner:hover,
.promo__footer_selflearner:active,
.promo__footer_selflearner:focus,
.promo__footer_selflearner:active:focus {
    color: @mg-green--hover;
    text-decoration: none;
}
.promo__footer_vk {
    float: right;
    margin-right: 50px;
}
.promo__footer_vk_link {
    display: inline-block;
    background-color: @mg-green--ordinal;
    .border-radius(@mg-border-radius--ordinal);
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: @mg-text-white;
    text-decoration: none;
    margin-left: 25px;
}
.promo__footer_vk_link:hover,
.promo__footer_vk_link:active,
.promo__footer_vk_link:focus,
.promo__footer_vk_link:active:focus {
    color: @mg-text-white;
    text-decoration: none;
}