@using MusicShareWeb.Models
@model SearchResultModel

@{
    Layout = "../Shared/Layout.cshtml";
}

<div class="mp__left-block">left</div>
<div class="mp__right-block">
    @Html.Partial("Search", new SearchModel())
</div>