@model MusicShareWeb.Models.SearchResultModel
@{
    Layout = null;
}

<div class="mp__result">
    @if (Model != null && Model.SearchResults.Count != 0) {
        foreach (var str in Model.SearchResults) {
            <div>
                <span>@str.BrandId</span>
                <span>@str.FormId</span>
            </div>
         }
    }
</div>