<script type="text/html" id="ExerciseTemplate">
    <div class="exercise">
        <!-- ko if: min -->
        <div class="exercise-toggle" data-bind="click: $root.toggle.bind($data, exerciseId)">
            <div class="exercise-toggle__icon" data-bind="text: $root.exerciseHide[exerciseId]() ? '+' : '-'"></div>
            <!-- ko if: $root.exerciseHide[exerciseId]() -->
            <span class="exercise-toggle__name" data-bind="text: exerciseName"></span>
            <!-- /ko -->
        </div>
        <!-- /ko -->
        <div data-bind="attr: {id: 'Exercise' + exerciseId}">
                <div class="exercise__title" data-bind="text: exerciseName"></div>
            <div style="margin: 10px 0; position: relative;">
                <img data-bind="attr: {src: imageUrl}"/>
            </div>
            <div class="metronome">
                <div class="metronome__icon"></div>
                <div class="metronome__speed-control speed-control__down" data-bind="click: $root.speedDown.bind($data, exerciseId)">
                    <i class="fa fa-minus"></i>
                </div>
                <input type="text" class="metronome-speed" data-bind="value: $root.speeds[exerciseId], event: {'change': $root.speedChange.bind($data, exerciseId)}" />
                <div class="metronome__speed-control  speed-control__up" data-bind="click: $root.speedUp.bind($data, exerciseId)">
                    <i class="fa fa-plus"></i>
                </div>
                <div class="metronome-start-stop" data-bind="click: $root.isRun() ? $root.stop.bind($data, exerciseId) : $root.run.bind($data, exerciseId)">
                    <i data-bind="attr: {class: $root.isRun() ? 'fa fa-pause' : 'fa fa-play'}"></i>
                </div>
            </div>
            <!-- ko if: audioUrl -->
            <div style="text-align: left;">
                <a data-bind="text: 'Audio', attr: {href: audioUrl}" target="_blank"></a>
            </div>
            <div style="clear: both;"></div>
            <!-- /ko -->
            <!-- ko if: !audioUrl -->
            <div style="clear: both;"></div>
            <!-- /ko -->
        </div>
    </div>
</script>