@model MusicShareWeb.Models.Lesson.LessonModel

@{
    Layout = "../Shared/Layout.cshtml";
}

<div>
    <input type="button" value="Сохранить изменения скорости метрономов" data-bind="click: $root.saveSpeeds" style="position: fixed; top: 400px; left: 100px;"/>
</div>
<div>
    <input type="button" value="Начать катать как Стив Вай*" style="width: 380px; height: 200px; font-size: 25px; background-color: red;" data-bind="click: $root.usch"/>
    <audio id="BitSound" src="/Content/bit.mp3"></audio>
    <div id="mainPage" class="main">

        <div id="ff" class="lesson-frame">
            <div id="gk-top-nav" class="clear gk-mass clearfix">
                <div id="gk-breadcrumb">
                    <span class="mod_breadcrumbs">
                        <span class="pathway">
                            <a href="http://allfrets.ru/" class="pathway">Главная</a>
                        </span>
                        <span class="pathway separator"> / </span>
                        <span class="pathway">
                            <a href="/altpicking" class="pathway">Переменный штрих</a>
                        </span>
                        <span class="pathway separator"> / </span>
                        <span class="pathway last">
                            Штрих при переходе со струны на струну
                        </span>
                    </span>
                </div>
            </div>
            <div id="component_wrap" class="clearfix clear k2">
                <div>
                    <div id="component" class="clear">
                        <div id="k2Container" class="itemView">
                            <div class="itemBody">
                                <div class="itemFullText">
                                    <h5><img src="http://allfrets.ru/images/stories/line.jpg" border="0"></h5>
                                    <h5><a href="/altpicking/singlestringpicking" title="Переменный штрих на одной струне" style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-size: 13px; color: #40678a; font-family: Arial, Helvetica, sans-serif; line-height: 23px; text-align: justify;">&lt;&lt; ПРЕДЫДУЩИЙ УРОК</a></h5>
                                    <p>&nbsp;</p>
                                    <p class="MsoNormal" style="text-align: justify;">Привет! Я рад, что ты достиг скорости в 60 УВМ при игре переменным штрихом на одной струне. Если нет, тогда вернись к <a href="/altpicking/singlestringpicking" title="Переменный штрих на одной струне">предыдущему уроку</a>. Если же это так, тогда продолжим обучение игре на электрогитаре. Если ты еще не умеешь настраивать гитару, обратись к <a href="/beginner/howtotuneaguitar" title="Настройка гитары">соответствующему уроку</a>. То же и с <a href="/beginner/howtoreadtabs" title="Как читать табулатуры">чтением табулатур</a>.</p>
                                    <p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
                                    <h5 style="text-align: justify;">РАЗНОВИДНОСТИ ШТРИХА</h5>
                                    <p class="MsoNormal" style="text-align: justify;">Обратимся к книге “Соло-гитара в стиле хэви-метал” Троя Стетины – выдающегося гитариста и преподавателя:</p>
                                    <p class="MsoNormal" style="text-align: justify;">«Научиться играть переменным штрихом быстро и долго, постоянно переходя со струны на струну очень трудно, но оно того стоит. Послушай Ингви Мальмстина или Эла Ди Меолу и ты услышишь великолепные примеры такой игры…</p>
                                    <p class="MsoNormal" style="text-align: justify;">…В следующих паттернах переход со струны на струну осуществляется с помощью внутреннего штриха. Это значит, что медиатор движется&nbsp; внутри пространства между струнами.</p>
                                    <p class="MsoNormal" style="text-align: center;"><img src="http://allfrets.ru/images/stories/altpicking/2_shtrih_1.jpg" border="0"></p>
                                    <p class="MsoNormal">Противоположным этому является внешний штрих. Он используется в следующих примерах.</p>
                                    <p class="MsoNormal" style="text-align: center;"><img src="http://allfrets.ru/images/stories/altpicking/2_shtrih_2.jpg" border="0"></p>
                                    <p class="MsoNormal" style="text-align: justify;">Если у тебя проблемы с каким-либо штрихом, придумай ходы и упражнения, которые помогут их решить»</p>
                                    <p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
                                    <p class="MsoNormal" style="text-align: justify;">Есть небольшая путаница насчет названия типов штриха. В некоторых пособиях тот штрих, что у Стетины назван внутренним, называется внешним, а противоположный ему - внутренним. Хорошая новость заключается в том, что тебе ничего не придется придумывать самому. Прибереги фантазию и музыкальные идеи на будущее. Плохая новость – придется провести уйму времени, отрабатывая переменный штрих, иначе ты ничего не добьешься. А сейчас вспомним основные правила, которые необходимо соблюдать при игре переменным штрих.</p>
                                    <p class="MsoNormal" style="margin-left: 18pt;">&nbsp;</p>
                                    <p><strong>1. Играть только переменным штрихом.</strong><br><strong>2. Глушить струны ребром ладони.</strong><br><strong>3. Держать медиатор перпендикулярно струнам.</strong><br><strong>4. Играть медленно.</strong><br><strong>5. Играть только под метроном.</strong><br><strong>6. Не совершать лишних движений медиатором.</strong><br><strong>7. Держи пальцы левой руки на небольшом расстоянии от грифа.</strong></p>
                                    <p class="MsoListParagraphCxSpLast">&nbsp;</p>
                                    <p class="MsoListParagraphCxSpLast">И еще два правила:</p>
                                    <p class="MsoListParagraphCxSpLast" style="text-align: justify;"><strong>8.</strong> При игре нужно обязательно чередовать игру с <strong style="line-height: 1.3em;">дисторшн</strong> и игру на <strong style="line-height: 1.3em;">чистом звуке</strong> (а лучше легком овердрайве). Поясняю. Играть на чистом звуке ты должен для того, чтобы слышать, что на самом деле делают твои руки. Очень легко увлечься игрой на перегрузе и не заметить, что ты играешь грязно.</p>
                                    <p class="MsoListParagraphCxSpLast" style="text-align: justify;"><strong>9.</strong> Всегда старайся держать обе руки в расслабленном состоянии. Иначе ты будешь очень быстро уставать. А привыкнув держать руки в напряжении, переучиться будет очень и очень нелегко. Запомни, лишь научившись играть с расслабленными руками, то сможешь играть быстро!.</p>
                                    <p class="MsoListParagraphCxSpLast">&nbsp;</p>
                                    <p class="MsoListParagraphCxSpLast">И две небольших поправки к существующим пунктам:</p>
                                    <p class="MsoListParagraphCxSpLast" style="text-align: justify;">Из <strong>третьего пункта</strong> следует, что медиатор следует держать перпендикулярно струнам. Но это лишь на начальных этапах тренировки. Вскоре ты поймешь, что, возможно, тебе удобней держать его под небольшим (или довольно большим - до сорока пяти градусов) наклоном, как делает это, например,&nbsp;<a href="/bio/item/104-andy-james" title="Энди Джеймс">Энди Джеймс</a>. Но это вскоре, а пока все же старайся держать его прямо.</p>
                                    <p class="MsoNormal" style="text-align: justify;"><strong>Четвертый пункт</strong> говорит нам, что необходимо играть медленно, кроме того, как я уже говорил в прошлом уроке, следует чередовать игру <strong>на разных скоростях</strong>. Вычисли свою максимальную скорость, для этого выбери какое-нибудь несложное упражнение и, постепенно повышая скорость на метрономе, выясни, с какой максимальной скоростью ты можешь играть его чисто. После этого прими пятьдесят процентов от этой скорости за низкую скорость, шестьдесят - за среднюю, а семьдесят - за высокую. Так или иначе для тебя это будет медленно. Больше всего играй на низкой скорости, меньше на средней, минимальное время уделяй игре на высокой скорости.</p>
                                    <p class="MsoNormal">&nbsp;</p>
                                    <h5>УПРАЖНЕНИЯ</h5>
                                    <p class="MsoNormal" style="text-align: justify;">Итак! Пришло время выучить несколько упражнений. Для начала два упражнения из видеошколы Майкла Анжэло “<span lang="EN-US">Speed</span><span lang="EN-US"> </span><span lang="EN-US">kills</span>”:</p>
                                    <p class="MsoNormal" style="text-align: justify;"><em><a href="/images/audio/altpicking/Altpicking-2-1.mp3" title="MP3">Упражнение 1</a>. Это упражнение чертовски важно для дальнейшего развития техники переменного штриха. Ты должен <strong>играть его на всех пяти комбинациях струн</strong> (на шестой и пятой, на пятой и четвертой, на четвертой и третьей, на третьей и второй и, <strong>ГЛАВНОЕ</strong>, на второй и первой). Кроме того, ты непременно должен при помощи него отрабатывать <strong>различные типы штриха </strong>(внешний и внутренний). Просто один раз начни играть это упражнение с удара вниз (даунстрока), второй раз - с удара вверх (апстрока).</em></p>
                                    <p class="MsoNormal" style="text-align: justify;"><img src="http://allfrets.ru/images/stories/altpicking/2_upr_alternate_picking_1.jpg" border="0"></p>
                                    <p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
                                    <input type="button" value="Запустить" data-bind="attr: { 'value': $root.isRun() ? 'Остановить' : 'Запустить' }, click: $root.isRun() ? $root.stop.bind($data, 0) : $root.run.bind($data, 0)" /><br>
                                    <input type="button" value="Быстрее" data-bind="click: $root.speedUp.bind($data, 0)" /><br>
                                    <input type="button" value="Медленнее" data-bind="click: $root.speedDown.bind($data, 0)" /><br>
                                    Скорость <span data-bind="text: $root.speeds[0]()"></span> УВМ
                                    <p class="MsoNormal"><em><a href="/images/audio/altpicking/Altpicking-2-2.mp3" title="MP3">Упражнение 2</a>. Оно как ты видишь, является более сложной версией первого.</em></p>
                                    <p class="MsoNormal">
                                        <em><img src="http://allfrets.ru/images/stories/altpicking/2_upr_alternate_picking_2.jpg" border="0"></em>
                                    </p>
                                    <input type="button" value="Запустить" data-bind="attr: { 'value': $root.isRun() ? 'Остановить' : 'Запустить' }, click: $root.isRun() ? $root.stop.bind($data, 1) : $root.run.bind($data, 1)" /><br>
                                    <input type="button" value="Быстрее" data-bind="click: $root.speedUp.bind($data, 1)" /><br>
                                    <input type="button" value="Медленнее" data-bind="click: $root.speedDown.bind($data, 1)" /><br>
                                    Скорость <span data-bind="text: $root.speeds[1]()"></span> УВМ
                                    <p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
                                    <p class="MsoNormal">Теперь перейдем&nbsp; к упражнениям из книги Терри Сайрека &nbsp;“<span lang="EN-US">Shred</span><span lang="EN-US"> </span><span lang="EN-US">is</span><span lang="EN-US"> </span><span lang="EN-US">not</span><span lang="EN-US"> </span><span lang="EN-US">dead</span>”:</p>
                                    <p class="MsoNormal"><em><a href="/images/audio/altpicking/Altpicking-2-3.mp3" title="MP3">Упражнение 3</a>. Довольно длинное упражнение. Постарайся подобрать наиболее удобную для тебя пальцовку.</em></p>
                                    <p class="MsoNormal"><em><img src="http://allfrets.ru/images/stories/altpicking/2_upr_alternate_picking_3.jpg" border="0"></em></p>
                                    <input type="button" value="Запустить" data-bind="attr: { 'value': $root.isRun() ? 'Остановить' : 'Запустить' }, click: $root.isRun() ? $root.stop.bind($data, 2) : $root.run.bind($data, 2)" /><br>
                                    <input type="button" value="Быстрее" data-bind="click: $root.speedUp.bind($data, 2)" /><br>
                                    <input type="button" value="Медленнее" data-bind="click: $root.speedDown.bind($data, 2)" /><br>
                                    Скорость <span data-bind="text: $root.speeds[2]()"></span> УВМ
                                    <p class="MsoNormal">&nbsp;</p>
                                    <p class="MsoNormal"><em><a href="/images/audio/altpicking/Altpicking-2-4.mp3" title="MP3">Упражнение 4</a>. Продолжай играть последовательность, пока не дойдешь до нижних ладов (н</em><em style="line-height: 1.3em;">ижних по звучанию, т.е. самых широких)</em></p>
                                    <p class="MsoNormal" style="text-align: justify;">
                                        <img src="http://allfrets.ru/images/stories/altpicking/2_upr_alternate_picking_4.jpg" border="0">
                                    </p>
                                    <input type="button" value="Запустить" data-bind="attr: { 'value': $root.isRun() ? 'Остановить' : 'Запустить' }, click: $root.isRun() ? $root.stop.bind($data, 3) : $root.run.bind($data, 3)" /><br>
                                    <input type="button" value="Быстрее" data-bind="click: $root.speedUp.bind($data, 3)" /><br>
                                    <input type="button" value="Медленнее" data-bind="click: $root.speedDown.bind($data, 3)" /><br>
                                    Скорость <span data-bind="text: $root.speeds[3]()"></span> УВМ
                                    <p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
                                    <p class="MsoNormal">Упражнения из<span lang="EN-US"> “Speed mechanics for lead guitar”:</span></p>
                                    <p class="MsoNormal" style="text-align: justify;"><em><a href="/images/audio/altpicking/Altpicking-2-5.mp3" title="MP3">Упражнение 5</a>. Это упражнение поможет тебе научиться перемещаться по грифу, а также напомнит о предыдущем уроке, так как на каждый такт здесь приходится всего по два перехода со струны на струну.</em></p>
                                    <p class="MsoNormal" style="text-align: justify;">
                                        <img src="http://allfrets.ru/images/stories/altpicking/2_upr_alternate_picking_7.jpg" border="0">
                                    </p>
                                    <input type="button" value="Запустить" data-bind="attr: { 'value': $root.isRun() ? 'Остановить' : 'Запустить' }, click: $root.isRun() ? $root.stop.bind($data, 6) : $root.run.bind($data, 4)" /><br>
                                    <input type="button" value="Быстрее" data-bind="click: $root.speedUp.bind($data, 4)" /><br>
                                    <input type="button" value="Медленнее" data-bind="click: $root.speedDown.bind($data, 4)" /><br>
                                    Скорость <span data-bind="text: $root.speeds[4]()"></span> УВМ
                                    <p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
                                    <p class="MsoNormal"><em><a href="/images/audio/altpicking/Altpicking-2-6.mp3" title="MP3">Упражнение 6</a>. Как и первое, рекомендуется отрабатывать на всех комбинациях струн.</em></p>
                                    <p class="MsoNormal">
                                        <em><img src="http://allfrets.ru/images/stories/altpicking/2_upr_alternate_picking_5.jpg" border="0"></em>
                                    </p>
                                    <input type="button" value="Запустить" data-bind="attr: { 'value': $root.isRun() ? 'Остановить' : 'Запустить' }, click: $root.isRun() ? $root.stop.bind($data, 5) : $root.run.bind($data, 5)" /><br>
                                    <input type="button" value="Быстрее" data-bind="click: $root.speedUp.bind($data, 5)" /><br>
                                    <input type="button" value="Медленнее" data-bind="click: $root.speedDown.bind($data, 5)" /><br>
                                    Скорость <span data-bind="text: $root.speeds[5]()"></span> УВМ
                                    <p class="MsoNormal">&nbsp;</p>
                                    <p class="MsoNormal"><em><a href="/images/audio/altpicking/Altpicking-2-7.mp3" title="MP3">Упражнение 7</a>.</em></p>
                                    <p class="MsoNormal">
                                        <em><img src="http://allfrets.ru/images/stories/altpicking/2_upr_alternate_picking_6.jpg" border="0"></em>
                                    </p>
                                    <input type="button" value="Запустить" data-bind="attr: { 'value': $root.isRun() ? 'Остановить' : 'Запустить' }, click: $root.isRun() ? $root.stop.bind($data, 6) : $root.run.bind($data, 6)" /><br>
                                    <input type="button" value="Быстрее" data-bind="click: $root.speedUp.bind($data, 6)" /><br>
                                    <input type="button" value="Медленнее" data-bind="click: $root.speedDown.bind($data, 6)" /><br>
                                    Скорость <span data-bind="text: $root.speeds[6]()"></span> УВМ
                                    <p class="MsoNormal">&nbsp;</p>
                                    <p class="MsoNormal" style="text-align: justify;">Как ты мог заметить, во всех упражнениях было задействовано лишь две струны. Это и понятно – нужно идти от простого к сложному, а не наоборот. Еще раз напомню, что особое внимание стоит обратить на первое упражнение, так как переменный штрих на разных по толщине струнах отличается. Попытайся почувствовать гитару и понять в чем отличие.</p>
                                    <p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
                                    <h5 style="text-align: justify;">ПЕНТАТОНИКА</h5>
                                    <p class="MsoNormal" style="text-align: justify;">Что такое пентатоника? Особое внимание я уделил ей в <a href="/improvisation/pentatonic" title="Пентатоника">разделе импровизация</a>. Пентатоника это гамма, состоящая всего из пяти нот. Несмотря на это обстоятельство, пентатоника весьма часто используется при построении соло. Многие известные роковые соляки были построены именно на пентатонике и звучали просто великолепно. Поэтому ты обязательно должен выучить пентатонику. К тому же она поможет тебе закрепить переход со струны струну, над которым ты работал в предыдущих упражнениях.</p>
                                    <p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
                                    <p class="MsoNormal" style="text-align: justify;">Ниже ты видишь аппликатуру минорной пентатоники. Для начала нам хватит ее одной.</p>
                                    <p class="MsoNormal" style="text-align: justify;"><img src="http://allfrets.ru/images/stories/altpicking/pentatonika.jpg" border="0"></p>
                                    <p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
                                    <p class="MsoNormal" style="text-align: justify;">Подбери удобную для тебя пальцовку. Многие на двух верхних струнах используют третий палец. Некоторые - четвертый. Черной точкой обозначена тоника. Не буду вдаваться в теорию здесь. Скажу только, что тоника это нота, с которой начинается гамма. Как видишь, выучить пентатонику совсем не сложно.</p>
                                    <p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
                                    <p class="MsoNormal" style="text-align: justify;">Пришло время выполнить несколько упражнений, основанных на пентатонике. Трой Стетина в книге “<span lang="EN-US">Speed</span><span lang="EN-US"> </span><span lang="EN-US">Mechanics</span><span lang="EN-US"> </span><span lang="EN-US">For</span><span lang="EN-US"> </span><span lang="EN-US">Lead</span><span lang="EN-US"> </span><span lang="EN-US">Guitar</span>” выделил пять основных вариантов перехода со струны на струну. Попробуй определить, какой из них наиболее труден для тебя. Над ним и работай. Каждое упражнение начинай ударом вниз. Сначала поработай над первым тактом. Потом над последними двумя. В последнем такте тебе встретится несколько скачков через струну. Возможно, понадобится определенная доля упорства, чтобы научиться играть эти моменты чисто. Но ты должен это сделать!</p>
                                    <p class="MsoNormal">&nbsp;</p>
                                    <p class="MsoNormal"><em><a href="/images/audio/altpicking/Altpicking-2-8.mp3" title="MP3">Упражнение 8</a>.</em></p>
                                    <p class="MsoNormal">
                                        <em><img src="http://allfrets.ru/images/stories/altpicking/2_upr_alternate_picking_8.jpg" border="0"></em>
                                    </p>
                                    <input type="button" value="Запустить" data-bind="attr: { 'value': $root.isRun() ? 'Остановить' : 'Запустить' }, click: $root.isRun() ? $root.stop.bind($data, 7) : $root.run.bind($data, 7)" /><br>
                                    <input type="button" value="Быстрее" data-bind="click: $root.speedUp.bind($data, 7)" /><br>
                                    <input type="button" value="Медленнее" data-bind="click: $root.speedDown.bind($data, 7)" /><br>
                                    Скорость <span data-bind="text: $root.speeds[7]()"></span> УВМ
                                    <p class="MsoNormal"><em><br></em></p>
                                    <p class="MsoNormal"><em><a href="/images/audio/altpicking/Altpicking-2-9.mp3" title="MP3">Упражнение 9</a>.</em></p>
                                    <p class="MsoNormal">
                                        <em><img src="http://allfrets.ru/images/stories/altpicking/2_upr_alternate_picking_9.jpg" border="0"></em>
                                    </p>
                                    <input type="button" value="Запустить" data-bind="attr: { 'value': $root.isRun() ? 'Остановить' : 'Запустить' }, click: $root.isRun() ? $root.stop.bind($data, 8) : $root.run.bind($data, 8)" /><br>
                                    <input type="button" value="Быстрее" data-bind="click: $root.speedUp.bind($data, 8)" /><br>
                                    <input type="button" value="Медленнее" data-bind="click: $root.speedDown.bind($data, 8)" /><br>
                                    Скорость <span data-bind="text: $root.speeds[8]()"></span> УВМ
                                    <p class="MsoNormal">&nbsp;</p>
                                    <p class="MsoNormal"><em><a href="/images/audio/altpicking/Altpicking-2-10.mp3" title="MP3">Упражнение 10</a>.</em></p>
                                    <p class="MsoNormal">
                                        <em><img src="http://allfrets.ru/images/stories/altpicking/2_upr_alternate_picking_10.jpg" border="0" style="border-style: initial; border-color: initial;"></em>
                                    </p>
                                    <input type="button" value="Запустить" data-bind="attr: { 'value': $root.isRun() ? 'Остановить' : 'Запустить' }, click: $root.isRun() ? $root.stop.bind($data, 9) : $root.run.bind($data, 9)" /><br>
                                    <input type="button" value="Быстрее" data-bind="click: $root.speedUp.bind($data, 9)" /><br>
                                    <input type="button" value="Медленнее" data-bind="click: $root.speedDown.bind($data, 9)" /><br>
                                    Скорость <span data-bind="text: $root.speeds[9]()"></span> УВМ
                                    <p class="MsoNormal">&nbsp;</p>
                                    <p class="MsoNormal"><em><a href="/images/audio/altpicking/Altpicking-2-11.mp3" title="MP3">Упражнение 11</a>.</em></p>
                                    <p class="MsoNormal">
                                        <em><img src="http://allfrets.ru/images/stories/altpicking/2_upr_alternate_picking_11.jpg" border="0"></em>
                                    </p>
                                    <input type="button" value="Запустить" data-bind="attr: { 'value': $root.isRun() ? 'Остановить' : 'Запустить' }, click: $root.isRun() ? $root.stop.bind($data, 10) : $root.run.bind($data, 10)" /><br>
                                    <input type="button" value="Быстрее" data-bind="click: $root.speedUp.bind($data, 10)" /><br>
                                    <input type="button" value="Медленнее" data-bind="click: $root.speedDown.bind($data, 10)" /><br>
                                    Скорость <span data-bind="text: $root.speeds[10]()"></span> УВМ
                                    <p class="MsoNormal">&nbsp;</p>
                                    <p class="MsoNormal"><em><a href="/images/audio/altpicking/Altpicking-2-12.mp3" title="MP3">Упражнение 12</a>.</em></p>
                                    <p class="MsoNormal">
                                        <em><img src="http://allfrets.ru/images/stories/altpicking/2_upr_alternate_picking_12.jpg" border="0"></em>
                                    </p>
                                    @Html.Partial("Metronome", 11)
                                    <p class="MsoNormal">&nbsp;</p>
                                    <p class="MsoNormal" style="text-align: justify;">И вновь о том как надо заниматься. Заниматься нужно регулярно. Даже небольшой перерыв в занятиях может отбросить тебя далеко назад. Время, которое нужно уделять гитаре, не ограничено. Здесь действует правило: "кашу маслом не испортишь". Однако, если чувствуешь сильную усталость в руках, или боль - немедленно прекращай занятия! Поврежденные связки техники еще никому не прибавляли. Не забывай о <a href="/beginner/warming-up" title="Разминка">разминке</a>. А после нее - учишь упражнение, включаешь метроном и вперед :)</p>
                                    <p class="MsoNormal" style="text-align: justify;">Помни о правилах и вскоре выполнять их будет не сложнее, чем вдыхать свежий воздух. После того как будешь без проблем играть все упражнения данного урока на скорости 80 УВМ, можешь переходить к уроку <a href="/altpicking/altpickgamm" title="Переменный штрих - гаммы" style="line-height: 1.3em;">переменный штрих - гаммы</a>. Кроме этого я советую тебе, прежде чем идти дальше, выучить <a href="/practice/item/143-ac/dc-highway-to-hell-%D1%81%D0%BE%D0%BB%D0%BE" title="AC/DC - Highway to Hell">этот соляк</a>, а также уроки <a href="/tehnika/harmonics" title="Три способа взять флажолет">флажолеты</a>, <a href="/legatotechnique/legatofinger" title="Развитие независимости пальцев">развитие независимости пальцев</a>,&nbsp;<a href="/rythmguitar/rhytmmute" title="Глушение">глушение</a>. Желаю удачи!</p>
                                    <p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
                                    <p class="MsoNormal" style="margin: 0.5em 0px; padding: 0px; border: 0px; outline: 0px; font-size: 13px; color: #555555; font-family: Arial, Helvetica, sans-serif; line-height: 23px; text-align: center;"><a href="/forum/viewtopic.php?f=2&amp;t=198" title="Уроки - переменный штрих" style="margin: 0px; padding: 0px; border: 0px; outline: 0px; background-color: transparent; color: #40678a;">ОБСУДИТЬ НА ФОРУМЕ</a></p>
                                    <p class="MsoNormal" style="margin: 0.5em 0px; padding: 0px; border: 0px; outline: 0px; font-size: 13px; color: #555555; font-family: Arial, Helvetica, sans-serif; line-height: 23px; text-align: right;"><a href="/altpicking/altpickgamm" title="Переменный штрих - гаммы" style="margin: 0px; padding: 0px; border: 0px; outline: 0px; background-color: transparent; color: #40678a;">СЛЕДУЮЩИЙ УРОК &gt;&gt;</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        ko.applyBindings(getLesson(null, document.getElementById("Designer")));
    });

    getLesson = function () {
        var model = {};
        model.bitSound = document.getElementById('BitSound');
        model.isRun = ko.observable(false);
        model.speeds = [ @Html.Raw(String.Join(", ", Model.Speeds.Select(s => "ko.observable(" + s.Value + ")")))];
        model.activeSpeedIndex = ko.observable(undefined);
        model.loop = undefined;

        model.speedUp = function(index) {
            var wasRun = model.isRun();
            model.stop();
            model.speeds[index](model.speeds[index]() + 1.0);
            if (wasRun) {
                model.run(index);
            }
        }
        model.speedDown = function(index) {
            var wasRun = model.isRun();
            model.stop();
            model.speeds[index](model.speeds[index]() - 1.0);
            if (wasRun) {
                model.run(index);
            }
        }
        model.run = function(index) {
            model.activeSpeedIndex(index);
            model.isRun(true);
        }
        model.stop = function() {
            model.isRun(false);
        }
        model.usch = function() {
            alert('Если первого шага оказалось недостаточно, придется катать эти упражнения 38 лет.');
        };
        var playSound = function() {
            model.bitSound.play();
        }
        ko.computed(function() {
            if (model.isRun()) {
                var time = 60.0 / model.speeds[model.activeSpeedIndex()]() * 1000.0;
                playSound();
                model.loop = setInterval(playSound, time);
            } else {
                clearInterval(model.loop);
            }
        });
        model.saveSpeeds = function() {
            var speeds = {};
            var i = 0;
            ko.utils.arrayForEach(model.speeds, function (speed) {
                speeds[i.toString()] = speed().toString();
                i++;
            });
            $.ajax({
                url: '@Url.Action("SaveExercisesSpeed")',
                type: 'POST',
                traditional: true,
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                    lessonId: 1,
                    speeds: speeds
                }),
                success: function (result) {
                    alert('Done');
                },
                error: function (result) {
                    alert('error');
                }
            });
            return false;
        };

        return model;
    }
</script>