@model int

<input type="button" value="Запустить" data-bind="attr: { 'value': $root.isRun() ? 'Остановить' : 'Запустить' }, click: $root.isRun() ? $root.stop.bind($data, @Model) : $root.run.bind($data, @Model)" /><br>
<input type="button" value="Быстрее" data-bind="click: $root.speedUp.bind($data, @Model)" /><br>
<input type="button" value="Медленнее" data-bind="click: $root.speedDown.bind($data, @Model)" /><br>
Скорость <span data-bind="text: $root.speeds[@Model]()"></span> УВМ