<div id="Overview" class="designer__form" data-bind="visible: $root.parameterModel.isOverviewMode() == true">
    <div data-bind="foreach: $root.parameterModel.globalParameters">
        <div data-bind="text: NameNominative, click: $root.parameterModel.editParameter"></div>
    </div>
    <div data-bind="foreach: $root.parameterModel.getResultImageBundles">
        <img data-bind="attr: {src: url }" />
    </div>
</div>