<div id="Overview" data-bind="visible: $root.parameterModel.isOverviewMode() == true">
    <!-- ko if: $root.parameterModel.isFormSelected() -->
    <div data-bind="foreach: Object.keys($root.parameterModel.globalParameters)">
        <!-- ko with: $root.parameterModel.globalParameters[$data] -->
        <div data-bind="text: nameNominative, click: $root.parameterModel.editParameter"></div>
        <!-- /ko -->
    </div>
    <div class="result-images" data-bind="foreach: Object.keys($root.parameterModel.resultImageBundles)">
        <!-- ko with: $root.parameterModel.resultImageBundles[$data]() -->
        <img class="form__image" data-bind="visible: url, attr: { src: url }, style: { top: y + 'px', left: x + 'px' }"/>
        <!-- /ko -->
    </div>
    <!-- /ko -->
    <div class="designer__select-form" data-bind="ifnot: $root.parameterModel.isFormSelected()">
        <div data-bind="click: $root.parameterModel.editFormParameter"></div>
    </div>
</div>