<div id="SubparameterValues" data-bind="visible: $root.parameterModel.isOverviewMode() == false, foreach: $root.parameterModel.currentEditingSubparameter().parameterValues">
    <!-- ko if: $root.parameterModel.isIncopatibleSubparameterValue($data) -->
    <div data-bind="attr: { class: 'designer-form__param-value designer-form__param-value--disabled' },
        style: { height: $root.parameterModel.currentEditingSubparameter().height + 'px', width: $root.parameterModel.currentEditingSubparameter().width + 'px' }">
        <img class="designer-form__param-img" data-bind="attr: { src: imagePreviewUrl }" />
        <div class="designer-form__param-name" data-bind="text: name"></div>
    </div>
    <!-- /ko-->
    <!-- ko ifnot: $root.parameterModel.isIncopatibleSubparameterValue($data) -->
    <div data-bind="
    click: $root.parameterModel.setSubparameterValue,
    attr: { class: $root.parameterModel.isActiveSubparameterValue($data)
        ? 'designer-form__param-value designer-form__param-value--active'
        : 'designer-form__param-value' },
    style: { height: $root.parameterModel.currentEditingSubparameter().height + 'px', width: $root.parameterModel.currentEditingSubparameter().width + 'px' }">
        <img class="designer-form__param-img" data-bind="attr: { src: imagePreviewUrl }" />
        <div class="designer-form__param-name" data-bind="text: name"></div>
    </div>
    <!-- /ko-->
</div>