<div id="SubparameterValues" class="designer__form" data-bind="visible: $root.parameterModel.isOverviewMode() == false, foreach: $root.parameterModel.currentEditingSubparameter().ParameterValues">
    <div data-bind="click: $root.parameterModel.setSubparameterValue,
                attr: { class: $root.parameterModel.isActiveSubparameterValue($data)
                ? 'designer-form__param-value designer-form__param-value--active'
                : 'designer-form__param-value' }">
        <img class="designer-form__param-img" data-bind="attr: { src: ImagePreviewUrl }" />
        <div class="designer-form__param-name" data-bind="text: Name"></div>
    </div>
</div>