<div id="SubparameterValues" class="designer__form" data-bind="visible: subparameterNavigationModel.isOverviewMode() == false, foreach: subparameterNavigationModel.currentEditingSubparameter().values">

    <div class="designer-form__param-value" data-bind="click: $root.subparameterNavigationModel.selectSubparamValue">
        <img class="designer-form__param-img" data-bind="attr: { src: imagePreview }" />
        <div class="designer-form__param-name" data-bind="text: name"></div>
    </div>
</div>