@model MusicShareWeb.Models.Ask.QuestionListModel

@{
    Layout = "../Shared/Layout.cshtml";
}

<div class="ask-list">
    @foreach (var question in @Model.Questions) {
        <div class="ask-list__ask">
            @if (@question.HasSolution) {
                <div>solution</div>
            }
            <div class="ask__body">
                Вопрос: @question.Question.Text
            </div>
        </div>
    }
</div>