@model MusicShareWeb.Models.Ask.AskThreadModel

@{
    Layout = "../Shared/Layout.cshtml";
}

<div>
    <div>
        Вопрос: @Model.Question.Title
    </div>
    @foreach (var answer in @Model.Answers) {
        <div>
            Ответ: @answer.Text
        </div>
    }
</div>