<div class="article-preview">
    <div class="ap__header">
        <div class="ap__header__name">Название статьи</div>
    </div>
    <div class="ap__title">о чем статья, заголовок</div>
    <div class="ap__info">
        <span class="ap__info__view-number">38000</span>
        <span class="ap__info__comment-number">38</span>
    </div>
</div>