<div class="nav-zone">
    <a class="nav-zone__elem nav-zone__elem__active" href="@Url.Action("Index", "Search")">Поиск</a><br/>
    <a class="nav-zone__elem" href="@Url.Action("Index", "Article")">Статьи</a><br />
    <a class="nav-zone__elem" href="@Url.Action("Index", "Forum")">Форум</a><br />
    <a class="nav-zone__elem" href="@Url.Action("Index", "Placard")">Афиша</a>
</div>