<div id="SignInUpModal" name="SignInUpModal" class="modal fade" role="dialog" aria-labelledby="SignInUpModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="container auth-popup">
@*            <div class="auth-popup">*@
                <div class="auth-popup__nav mg-clearfix">
                    <div id="login-form-link" class="auth-popup__nav_elem auth-popup__nav_elem--active">Вход</div>
                    <div id="register-form-link" class="auth-popup__nav_elem">Регистрация</div>
                </div>
                <div class="auth-popup__input-block">
                    @using (Html.BeginForm("SignInViaEmail", "Auth", FormMethod.Post, new { id = "SignInForm", style = "display: block;", role = "form", onsubmit = "return onSignInViaEmailSubmit(event);" })) {
                        <div class="auth-popup__input-block">
                            <div class="auth-popup__input-row">
                                <input type="email" name="Email" required tabindex="1" class="mg-input-text auth-popup__input" placeholder="Почта" value="">
                            </div>
                            <div class="auth-popup__input-row">
                                <input type="password" name="Password" required tabindex="2" class="mg-input-text auth-popup__input" placeholder="Пароль">
                            </div>
                        </div>
                        <div class="auth-popup__remember-me-block">
                            @Html.CheckBox("RememberMe", true, new { tabindex = 3 })
                            <span for="remember" class="auth-popup__remember-me">Запомнить меня</span>
                        </div>
                        <div class="auth-popup__submit">
                            <input type="submit" tabindex="4" class="mg-btn" value="Войти">
                        </div>
                    }
                    @using (Html.BeginForm("SignUp", "Auth", FormMethod.Post, new { id = "SignUpForm", style = "display: none;", role = "form", onsubmit = "return onSignUpSubmit(event);" })) {
                        <div class="auth-popup__input-block">
                            <div class="auth-popup__input-row">
                                <input type="text" name="NickName" required tabindex="1" class="mg-input-text auth-popup__input" placeholder="Имя на сайте" value="">
                            </div>
                            <div class="auth-popup__input-row">
                                <input type="email" name="Email" required tabindex="2" class="mg-input-text auth-popup__input" placeholder="Почта" value="">
                            </div>
                            <div class="auth-popup__input-row">
                                <input type="password" name="Password" required tabindex="3" class="mg-input-text auth-popup__input" placeholder="Пароль">
                            </div>
                            <div class="auth-popup__input-row">
                                <input type="password" name="ConfirmPassword" required tabindex="4" class="mg-input-text auth-popup__input" placeholder="Пароль еще раз">
                            </div>
                        </div>
                        <div class="auth-popup__remember-me-block">
                            @Html.CheckBox("RememberMe", true, new { tabindex = 5 })
                            <span for="remember" class="auth-popup__remember-me">Запомнить меня</span>
                        </div>
                        <div class="auth-popup__submit">
                            <input type="submit" tabindex="6" class="mg-btn" value="Войти">
                        </div>
                    }
@*                </div>*@
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#login-form-link').click(function (e) {
            $("#SignInForm").delay(110).fadeIn(100);
            $("#SignUpForm").fadeOut(100);
            $('#register-form-link').removeClass('auth-popup__nav_elem--active');
            $(this).addClass('auth-popup__nav_elem--active');
            e.preventDefault();
        });
        $('#register-form-link').click(function (e) {
            $("#SignUpForm").delay(110).fadeIn(100);
            $("#SignInForm").fadeOut(100);
            $('#login-form-link').removeClass('auth-popup__nav_elem--active');
            $(this).addClass('auth-popup__nav_elem--active');
            e.preventDefault();
        });
    });
    var onSignInViaEmailSubmit = function (event) {
        $(event.target).ajaxSubmit({
            success: function (data) {
                if (data.Success) {
                    location.reload();
                } else {
                    alert(data.Reason);
                }
            },
            error: function () { alert('Fail'); }
        });
        return false;
    }
    var onSignUpSubmit = function (event) {
        var form = $(event.target);
        var password = form.find('[name=Password]');
        var confirmPassword = form.find('[name=ConfirmPassword]');
        if (password.val() !== confirmPassword.val()) {
            alert('Пароли не совпадают');
            return false;
        }
        $(event.target).ajaxSubmit({
            success: function (data) {
                if (data.Success) {
                    location.reload();
                } else {
                    alert(data.Reason);
                }
            },
            error: function () { alert('Fail'); }
        });
        return false;
    }
</script>