@model List<string>

@{
    var header = Model.First();
    var elements = Model;
    elements.RemoveAt(0);
}

<div class="ui__drop-down">
    <div class="dd__title"></div>
    <div class="dd__elem-block">
        <div class="dd__elem ui-tmpl"></div>
    </div>
    
    @*    <input type="text" class="mp-search__option" name="brand" placeholder="Марка" />*@
    @*    <div class="inline mp-search__caret"></div>*@
</div>

@* ReSharper disable once InconsistentNaming *@
<script>
    $(document).ready(function() {
        var dropDown = new UIDropDown($('.ui__drop-down'), {
            defaultText: 'Любой',
            elementsText: ['1', '2']}
        );
    });
</script>