.ask-list {
    width: 1120px;
    margin: 0 auto;
    background-color: #30281f;
    padding: 50px 0;
}
.ask-list__ask {
    width: 950px;
    margin: 38px auto 0;
    background-color: #fff;
    position: relative;
}
.ask-list__ask:first-of-type {
    margin-top: 0;
}
.ask-list__ask-info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 80px;
    color: #ffffff;
    font-size: 24px;
}
.ask-info__total-answer {
    position: absolute;
    top: 0;
    bottom: 60px;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
    width: 100%;
    background-color: #92A903;
    border-bottom: 1px solid #ffffff;
}
.ask-info__has-solution {
    position: absolute;
    height: 60px;
    line-height: 60px;
    font-weight: bold;
    text-align: center;
    bottom: 0;
    width: 100%;
    background-color: #7b7b7b;
}
.ask-list__ask-body {
    margin-left: 80px;
}
.ask-body__title{
    padding: 20px;
    box-sizing: border-box;
    font-weight: bold;
}
.ask-body__title a {
    color: #0077cc;
    text-decoration: none;
}
.ask-body__title a:hover {
    color: #30a7fc;
}
.ask-body__title a:visited {
    color: #0c65a5;
}
.ask-body__view-numer {
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
}


.ask__has-solution {
    background: url('/Content/Image/IsSolution.jpg');
    width: 25px;
    height: 25px;
    background-size: cover;
    position: absolute;
    top: -4px;
    left: -20px;
}
.ask__question-title {
    font-weight: bold;
}
.ask__question-text, .ask__watch-number, .ask__total-answer-number {
    margin-top: 10px;
}
.ask__preshow-solution {
    position: relative;
}