.ask-list {
    min-width: 600px;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px 0;
}
.ask-list__ask {
    width: 100%;
    margin: 20px auto;
    padding: 20px 20px;
    box-sizing: border-box;
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}
.ask-list__ask:first-of-type {
    margin-top: 0;
}
.ask-list__ask:last-of-type {
    margin-bottom: 0;
}
.ask__has-solution {
    background: url('/Content/Image/IsSolution.jpg');
    width: 25px;
    height: 25px;
    background-size: cover;
    position: absolute;
    top: -4px;
    left: -20px;
}
.ask__body {
    box-sizing: border-box;
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 1;
    width: 100%;
    height: 100%;
}
.ask__question-title {
    font-weight: bold;
}
.ask__question-text, .ask__watch-number, .ask__total-answer-number {
    margin-top: 10px;
}
.ask__preshow-solution {
    position: relative;
}