.ask-list {
    width: 1120px;
    margin: 0 auto;
    background-color: #30281f;
    padding: 50px 0;
}
.ask-list__thread {
     margin: 38px auto 0;
}
.ask-list__thread:first-of-type {
    margin-top: 0;
}
.ask-list__ask {
    width: 950px;
    position: relative;
    margin-left: 50px;
}
.ask-list__ask-info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 80px;
    color: #ffffff;
    font-size: 24px;
}
.ask-info__total-answer {
    position: absolute;
    top: 0;
    bottom: 60px;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
    width: 100%;
    background-color: #92A903;
    border-bottom: 1px solid #ffffff;
}
.ask-info__solution {
    position: absolute;
    height: 60px;
    line-height: 60px;
    font-weight: bold;
    text-align: center;
    bottom: 0;
    width: 100%;
    
}
.ask-info__has-solution {
    background-color: #92A903;
}
.ask-info__no-solution {
    background-color: #7b7b7b;
}
.ask-list__ask-body {
    margin-left: 80px;
    width: 500px;
    background-color: #fff;
}
.ask-body__title{
    padding: 20px;
    box-sizing: border-box;
    font-weight: bold;
}
.ask-body__title a {
    color: #0077cc;
    text-decoration: none;
}
.ask-body__title a:hover {
    color: #30a7fc;
}
.ask-body__title a:visited {
    color: #0c65a5;
}
.ask-body__view-numer {
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
}
.ask-list__answer {
    width: 500px;
    margin: 20px auto auto 500px;
    background-color: #fff;
}
.answer__text {
    padding: 20px;
}
.answer__voting {
    padding: 0  0 20px 20px;
}
.answer__vote-up { }
.answer__vote-down {
    margin-left: 25px;
}