@using Newtonsoft.Json
@using Newtonsoft.Json.Serialization
@model MusicShareWeb.Models.Lesson.PlanNavigationModel

<div data-bind="component: 'PlansNavigation'"></div>

<script type="text/javascript">
    plansModel = function() {
        var model = {};
        var data = @Html.Raw(JsonConvert.SerializeObject(Model, Formatting.Indented, new JsonSerializerSettings {ContractResolver = new CamelCasePropertyNamesContractResolver()}));
        model.planUrlTemplate = '@Url.Action("Train", new { planId = "" })' + '/';
        model.isAuthorized = data.isAuthorized;
        model.plans = data.plans;
        model.arePlansOpened = ko.observable(false);
        model.plansOpenedToggle = function (obj, event, newValue) {
            if (event && event.isTrigger && !model.arePlansOpened()) {
                newValue = false;
            } else {
                $('#LessonsToggle').trigger('click');
            }
            model.arePlansOpened(newValue !== undefined ? newValue : !model.arePlansOpened());
            
            event.stopPropagation();
        };
        $('body').bind('click', function(event) {
            model.plansOpenedToggle({}, event, false);
        });
        return model;
    }

    ko.components.register('PlansNavigation', {
        viewModel: plansModel,
        template:   '<!-- ko if: isAuthorized -->' +
                    '<div id="PlansToggle" class="lesson-top-nav__btn" data-bind="click: plansOpenedToggle">' +
                        'Мои планы занятий &nbsp;<span style="font-family: FontAwesome;" data-bind="text: arePlansOpened() ? \'&#xf0d9;\' : \'&#xf0d7;\'"</span>' +
                    '</div>' +
                    '<div data-bind="visible: arePlansOpened" style="position: absolute; margin-top: 40px; z-index: 10; width: 200px; max-height: 400px; overflow-y: auto;">' +
                        '<a class="mg-drop-down__element mg-drop-down__element-first" href="@Url.Action("Plan", "Lesson", new {id = ""})">Создать новый план</a>' +
                        '<!-- ko foreach: { data: plans, as: \'plan\' } -->' +
                            '<a class="mg-drop-down__element" data-bind="text: plan.name, attr: { href: $parent.planUrlTemplate + plan.id }"></a>' +
                        '<!-- /ko -->' +
                    '</div>' +
                    '<!-- /ko -->' +
                    '<!-- ko ifnot: isAuthorized -->' +
                    '<a class="mg-btn" href="#" data-target="#SignInUpModal" data-toggle="modal">Создать план занятий</a>' +
                    '<!-- /ko -->'
    });
</script>
