.all-space {
    background: #ffffff;
    font-family: arial, verdana, sans-serif, Lucida Sans;
    min-width: 600px;
}

.usefull-space {
    margin: 0 auto;
    width: 940px;
    background-color: #0000ff;
}

.content {
    background-color: #E8DFD0;
    width: 100%;
}

.left-block {
    width: 220px;
    height: 400px;
    display: inline-block;
    background-color: #ffff00;
}
.footer {
    height: 50px;
    background-color: #ff0000;
    text-align: center;
}


header, #header {
    width: 100%;
    height: 186px;
    background-color: #382811;
    border-bottom: 5px solid #92A903;
}
.header {
    height: 100%;
    margin: 0 auto;
    max-width: 1650px;
}
.header__top {
    position: relative;
    height: 144px;
}
.header-logo__img {
    margin: 30px 150px 30px 50px;
    cursor: pointer;
}
.header__img {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 350px;
    background: url('/Content/Image/header-img.png') left no-repeat;
    background-size: auto 160px;
}
.header-navigation {
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    font-family: Tahoma, sans-serif, Lucida Sans;
}
.header-navigation__btn {
    display: inline-block;
    height: 26px;
    line-height: 26px;
    width: 25%;
    border-left: 1px solid #ffffff;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    font-family: Tahoma, Geneva, sans-serif;
}
.header-navigation__btn:first-child {
    border-left: none;
}
.header-navigation__btn--active {
    color: #92A903;
    text-shadow: #000000 0px 0px 2px;
    text-shadow: #000000 1px 1px 0, #000000 -1px -1px 0, 
                 #000000 -1px 1px 0, #000000 1px -1px 0;
}