.all-space {
    background: #ffffff url(../Image/1.jpg) repeat repeat;
}

.usefull-space {
    margin: 0 auto;
    width: 940px;
    background-color: #0000ff;
}

.content {
    display: inline-block;
    vertical-align: top;
    width: 940px;
}

.left-block {
    width: 220px;
    height: 400px;
    display: inline-block;
    background-color: #ffff00;
}

.header {
    height: 50px;
    background-color: #00ff00;
    text-align: center;
}

.header-content {
    height: inherit;
    width: 940px;
    margin: auto;
}

.header__navigation-zone {
    height: inherit;
    display: inline-block;
    width: 600px;
    background-color: #00a000;
    text-align: right
}

.nav-zone__elem {
    display: inline-block;
    height: inherit;
    width: 100px;
    text-align: center;
    margin-left: -4px;
}

.nav-zone__elem:nth-child(1) {
    margin-left: 0;
}

.nav-zone__elem__logo {
    background-color: #006000;
    width: 70px;
}

.nav-zone__elem__active {
    background-color: #00d000;
}

.header__account-zone {
    height: inherit;
    display: inline-block;
    margin-left: -4px;
    width: 340px;
    background-color: #008000;
}

.footer {
    height: 50px;
    background-color: #ff0000;
    text-align: center;
}